<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <coverage>
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="true" />
        </report>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Wordpress-ORM Test Suite">
            <directory>tests/src</directory>
        </testsuite>
    </testsuites>
    <logging/>
    <php/>
</phpunit>
